%h1 Use WordShock!

- if @user_bad_words
  - @user_bad_words.each do |word|
    = word.bad_word.word

= form_for @user_bad_word do |f|
  = f.label :bad_words
  = f.text_area :bad_words
  = f.submit "Create Your Bad Words"
